{% extends "base.html" %}

{% block title %}
    - brief history of UmuTawa
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="h1 text-center fw-light">Genealogy of Umu Tawanshi Family by Mr. Innocent Eloike (Tawanshi nke ino)</h1>
        <p class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aliquam, consequatur et exercitationem
            libero magni maiores minus necessitatibus obcaecati optio possimus quas quod quos ratione sunt tempore vitae
            voluptatem?

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, atque aut commodi dolorum enim eos
            explicabo fugit harum maxime mollitia non quaerat quidem ratione reiciendis sit tempora, velit vero
            voluptatem?
        </p>
    </div>
    {% include "footer.html" %}
{% endblock %}