{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include "home/slider.html" %}
    <div class="container rounded rounded-5 px-md-5 mb-3">
        <div class="row text-center">
            <p class=""><a class="text-center link" href="{% url 'home:about' %}">click here
                to view Known History
                (geneology)</a></p>
            <h3 class="h2 border-bottom border-dark border-2"><a href="#familyTree"
                                                                 class="text-decoration-none text-dark btn btn-lg ">UmuTawa
                Kindred</a></h3>
        </div>
        <div class="row px-5 rounded rounded-5" id="familyTree">
            <img src="{% static 'imgs/f.png' %}" alt="" class="img-responsive">
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}