annotated-types==0.7.0
asgiref==3.8.1
cmake==3.31.2
crispy-bootstrap5==2024.10
dj-database-url==2.3.0
Django==5.1.4
django-bootstrap-datepicker-plus==5.0.5
django-bootstrap5==24.3
django-crispy-forms==2.3
django-filter==24.3
numpy==2.2.1
opencv-python==4.10.0.84
pillow==11.1.0
psycopg==3.2.3
psycopg-binary==3.2.3
pydantic==2.10.5
pydantic_core==2.27.2
sqlparse==0.5.3
typing_extensions==4.12.2
gunicorn