{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}
    images |
{% endblock %}


{% block content %}
    <section class="photo-gallery py-4 py-xl-5">
        <div class="container p-0">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Pictures</h2>
                    <a href="{% url 'account:image:image_create' %}"> Upload</a>
                </div>
            </div>
            <div class="row">
                <form method="get">
                    {% csrf_token %}
                    {{ filter.form|crispy  }}
                    <input type="submit" value="done" class="btn btn-sm btn-primary">
                </form>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-6 photos" data-bss-baguettebox>
                {% for image in image_list %}
                    <div class="col item"><a href="{{ image.image_file.url }}"><img
                            class="img-fluid" src="{{ image.image_file.url }}"/></a></div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include "pagination.html" %}
    {% include "footer.html" %}
{% endblock %}

