{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    videos |
{% endblock %}

{% block content %}
    <section class="photo-gallery py-4 py-xl-5">
        <div class="container p-0">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2>Videos</h2>
                    <a href="{% url 'account:video:video_create' %}"> Upload</a>
                </div>
            </div>
            <div class="row">
                 <form method="get" class="form">
                    <div class="row">
                        <div class="form-group-sm col-md-6 mb-0">
                            {{ filter.form.date_of_upload|as_crispy_field }}
                        </div>
                        <div class="form-group-sm col-md-6 mb-0">
                            {{ filter.form.is_public|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row mx-1">
                        <input type="submit" class="btn btn-sm btn-success" value="filter"/>
                    </div>
                </form>
            </div>
            <div class="row row-cols-1 row-cols-md-6 row-cols-xl-6" data-bss-baguettebox>
                {% for video in video_list %}
                    <div class="col item">
                        <video controls class="img-fluid">
                            <source src='{{ video.video_file.url }}' type='video/mp4'>
                            Your browser does not support the video tag.
                        </video>
                        <a href="{% url 'account:video:video_detail' video.name %}">{{ video.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include "pagination.html" %}
    {% include "footer.html" %}
{% endblock %}