{% extends 'baseFooter.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ post.headline }} |
{% endblock %}

{% block content %}
    <div class="container p-5">
        <h3 class="text-center fw-light">{{ post.headline }}</h3>
        <p class="lh-lg">{{ post.content }}</p>
        <ul class="list-group">
            {% for post_comment in post_comments %}
                {% if post_comment.author == user %}
                    <li class="list-group-item text-end">
                        <p class="p-0 m-0">{{ post_comment.comment }}</p>
                        <span class="text-muted p-0 m-0">{{ post_comment.author }}</span>
                    </li>
                    <li class="list-group-item text-end" style="margin-bottom: 6px;">
                        <div class="d-flex media">
                            <div class="media-body">
                                <div class="d-flex media" style="overflow: visible;">
                                    <div><img class="me-3" style="width: 25px;height: 25px;"
                                              src="{{ post_comment.author.profile_image.url }}"/>
                                    </div>
                                    <div class="media-body" style="overflow: visible;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <a href="{% url 'account:profile' post_comment.author %}">{{ post_comment.author }}:</a> {{ post_comment.comment }}
                                                    <br/>
                                                    <small class="text-muted">{{ post_comment.date_modified }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% else %}
                    <li class="list-group-item text-end" style="margin-bottom: 6px;">
                        <div class="d-flex media">
                            <div></div>
                            <div class="media-body">
                                <div class="d-flex media" style="overflow: visible;">
                                    <div><img class="me-3" style="width: 25px;height: 25px;"
                                              src="{{ post_comment.author.profile_image.url }}"/>
                                    </div>
                                    <div class="media-body" style="overflow: visible;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p>
                                                    <a href="{% url 'account:profile' post_comment.author %}">{{ post_comment.author }}:</a> {{ post_comment.comment }}
                                                    <br/>
                                                    <small class="text-muted">{{ post_comment.date_modified }}</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="container dropdown" id="commentForm">
            <button class="btn btn-primary"><i class="fa-plus-circle"></i> Add Comment</button>
            <form method="post" class="mx-5 p-5">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-end">
                    <input type="submit" value="Send" class="btn btn-success">
                    {% if post.author == user %}
                        <a href="{% url 'account:blog:blog_delete' slug=post.slug %}"
                           class="btn btn-danger">Delete Post</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}