{% extends 'baseFooter.html' %}
{% load crispy_forms_tags %}
{% block title %}
    {{ post.headline }} |
{% endblock %}

{% block content %}
    <div class="container p-5">
        <h3 class="text-center fw-light">{{ post.headline }}</h3>
        <p class="lh-lg">{{ post.content }}</p>
        <ul class="list-group">
            {% for post_comment in post_comments %}
                {% if post_comment.user == user %}
                    <li class="list-group-item text-end">
                        <p class="p-0 m-0">{{ post_comment.comment }}</p>
                        <span class="text-muted p-0 m-0">{{ post_comment.user }}</span>
                    </li>
                {% else %}
                    <li class="list-group-item">
                        <p class="p-0 m-0">{{ post_comment.comment }}</p>
                        <span class="text-muted p-0 m-0">{{ post_comment.user }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <form method="post" class="mx-5 p-5">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-end">
                <input type="submit" value="Send" class="btn btn-success">
                {% if post.author == user %}
                    <a href="{% url 'account:blog:blog_delete' slug=post.slug %}"
                       class="btn btn-danger">Delete Post</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}