{% extends 'base.html' %}
{% block title %}
    - blog
{% endblock %}
{% block content %}
   <div class="container mt-4">
    {% if user.is_authenticated %}
        <div class="d-flex button-group justify-content-md-center">
        <a class="btn btn-outline-secondary mx-1" href="{% url 'account:blog:my_blog_list' %}">my posts</a>
        <a class="btn btn-outline-secondary mx-1" href="{% url 'account:blog:blog_list' %}">all posts</a></li>
        <a class="btn btn-outline-primary mx-1" href="{% url 'account:blog:blog_create' %}">NEW POST</a>
        </div>
    {% endif %}
    {% for post in post_list %}
        <a href="{% url 'account:blog:blog_detail' slug=post.slug %}">
            <h6>{{ post.headline }}</h6>
        </a>
        <p>{{ post.content }}</p>
        {% for comment in post.comment_set.all %}
            <p>{{ comment }}</p>
        {% endfor %}

    {% empty %}
        No posts available
    {% endfor %}
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
   </div>
{% endblock %}
