{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block title %}
    family members |
{% endblock %}
{% block content %}
    <h3 class="display-6 text-center">Living Family Members</h3>
    <div class="container text-center">
        <form method="get" class="form-inline">
            {{ filter.form|crispy }}
            <input type="submit"/>
        </form>
        <div class="row  row-cols-md-6 row-cols-sm-3 m-auto">
            {% for user in user_list %}
                <div class="card col">
                    {% if user.profile_image %}
                        <img src="{{ user.profile_image.url }}" class="card-img-top" alt="{{ user.get_full_name }}">
                    {% else %}
                        <img src="{% static "imgs/default.JPG" %}" class="card-img-top" alt="">
                    {% endif %}
                    <div class="card-footer">
                        <a href="{% url 'account:profile' user.username %}"
                           class="card-link">{{ user.get_full_name }}</a>
                        <p class="card-subtitle text-muted">{{ user.age }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% include "pagination.html" %}
    {% include "footer.html" %}
{% endblock %}