{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block title %}
    {{ user }} |
{% endblock %}

{% block content %}
    <div class="container p-0 mt-2">
        <div class="row">
            <div class="col-md-1 visible-md px-0">
                {% include "account/sidebar.html" %}
            </div>
            <div class="col-md-9 border border-1 px-1">
                <div class="container mb-2">
                    <div class="row row-cols-md-2">
                        <div class="col-md-3">
                            {% if user.profile_image %}
                                <img src="{{ user.profile_image.url }}" alt="profile picture" class="img-fluid">
                                {% if user == request.user %}
                                    <div class="dropdown dropdown-toggle">
                                        <a class="link link-dark " type="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            click to update
                                        </a>
                                        <form class="dropdown-menu" enctype="multipart/form-data"
                                              method="post">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <input type="submit" value="upload" class="btn btn-sm">
                                        </form>
                                    </div>

                                {% endif %}
                            {% else %}
                                {% if user == request.user %}
                                    <div class="dropdown dropdown-toggle">
                                        <a class="link link-dark " type="button"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            click to add image
                                        </a>
                                        <form class="dropdown-menu" enctype="multipart/form-data"
                                              method="post">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <input type="submit" value="upload" class="btn btn-sm">
                                        </form>
                                    </div>

                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col-md-9 border border-1">
                            <ul class="list-group my-2">
                                <li class="list-group-item">
                                    <span class="fw-semibold">Name:</span>
                                    {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Username:</span>
                                    {{ user.username }}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Email:</span>
                                    {{ user.email }}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Gender:</span>
                                    {{ user.gender }}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Date of birth:</span>
                                    {{ user.date_of_birth }}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Age:</span>
                                    {{ user.age }}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Father:</span>
                                    {{ user.get_father.get_full_name }}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Mother:</span>
                                    {{ user.get_mother }}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Genealogy:</span>
                                    {% for u in user.genealogy %} |
                                        <a href="{% url 'account:profile' u %}">{{ u.get_full_name }}</a> |
                                    {% endfor %}
                                </li>
                                <li class="list-group-item">
                                    <span class="fw-semibold">Children:</span>
                                    {% for chil in user.children %}
                                        <a href="{% url 'account:profile' chil %}">{{ chil.get_full_name }}</a> ,
                                    {% endfor %}
                                </li>
                                <li class="list-group-item"><span
                                        class="fw-semibold">Height(cm):</span> {{ user.height }}</li>
                                <li class="list-group-item"><span
                                        class="fw-semibold">Blood Group:</span> {{ user.blood_group }}</li>
                                <li class="list-group-item"><span
                                        class="fw-semibold">Genotype:</span> {{ user.genotype }}</li>
                                <li class="list-group-item"><span class="fw-semibold">Phones:</span>
                                    {% for number in phone_record %}
                                        <span>{{ number.phone_number }}</span> |
                                    {% endfor %}
                                </li>
                                {% if not user.alive %}
                                    <li class="list-group-item">{{ user.date_of_death }}</li>
                                    <li class="list-group-item">{{ user.cause_of_death }}</li>
                                {% endif %}
                                {% if not user %}
                                    <a href="{% url 'account:r_continue' %}">Click Here! to add profile data</a>
                                {% endif %}
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <h3 class="text-center">Biography</h3>
                        <h5 class="text-center fs-6">
                            {% if user.username == request.user.username %}
                                {% if user.biography %}
                                    <a href="{% url 'account:b-update' user.username %}" class="link">edit biography</a>
                                {% else %}
                                    <a href="{% url 'account:b-update' user.username %}" class="">add biography</a>
                                {% endif %}
                            {% endif %}
                        </h5>
                    </div>

                    <div class="row px-md-2">
                        <p class="fw-light lh-lg px-4">{{ user.biography }}</p>
                    </div>
                </div>
                <div>
                    <h4 class="text-center">Education</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name of School</th>
                            <th scope="col">Level</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Year of entrance</th>
                            <th scope="col">year of graduation</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for school in education %}
                            <tr>
                                <th scope="row">{{ school.id }}</th>
                                <td>{{ school.name_of_school }}</td>
                                <td>{{ school.school_level }}</td>
                                <td>{{ school.duration }}</td>
                                <td>{{ school.year_of_entrance }}</td>
                                <td>{{ school.year_of_graduation }}</td>
                            </tr>
                        {% endfor %}
                        {% if user == request.user %}
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2"><a href="{% url 'account:new_education' request.user %}">add new institution</a>
                                </td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>

                <div>
                    <h4>Hereditary Diseases</h4>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Disease</th>
                            <th scope="col">date of infection</th>
                            <th scope="col">type</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for disease in diseases %}
                            <tr>
                                <th scope="row"></th>
                                <td>{{ disease.disease_name }}</td>
                                <td>{{ disease.date_of_infection }}</td>
                                <td>{{ disease.type }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-2 visible-md px-0">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
    {% include "footer.html" %}
{% endblock %}

