{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container p-5">
        <div class="row p-5 text-center">

            {% if form.is_multipart %}
                <form method="post" class="mx-auto" enctype="multipart/form-data">
            {% else %}
                <form method="post" class="mx-auto">
            {% endif %}
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}