{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <meta charset="utf-8"/>
    <meta lang="en"/>
    <meta content="Umu-Tawa Dynasty" name="description"/>
    <link href="{% static 'BS5/css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'BS-icons/bootstrap-icons.css' %}" rel="stylesheet"/>
    <title>{% block title %} {% endblock %} Umu-Tawa</title>
</head>
<body>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
<div id="content">
    {% include 'nav.html' %}
    <!--  MAIN BODY SECTION  -->
    {% block content %}


    {% endblock %}
</div>
{# Footer Section #}

<script src="{% static 'script/jquery.min.js' %}"></script>
<script src="{% static 'fontawesome/js/all.js' %}"></script>
<script src="{% static 'BS5/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'script/script.min.js' %}"></script>

</body>
</html>
