<div class="card">
    <div class="card-header">
        <h3>Community Chat</h3>
    </div>
    <div class="card-body" style="height: 233px;">
        <ul class="list-group">
            <li class="list-group-item" style="margin-bottom: 6px;">
                <div class="d-flex media">
                    <div></div>
                    <div class="media-body">
                        <div class="d-flex media" style="overflow: visible;">
                            <div><img class="me-3" style="width: 25px;height: 25px;" src="user-photo4.jpg" /></div>
                            <div class="media-body" style="overflow: visible;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><a href="#">Sara Doe:</a> This guy has been going 100+ MPH on side streets. <br /><small class="text-muted">August 6, 2016 @ 10:35am </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item" style="margin-bottom: 6px;">
                <div class="d-flex media">
                    <div></div>
                    <div class="media-body">
                        <div class="d-flex media" style="overflow: visible;">
                            <div><img class="me-3" style="width: 25px;height: 25px;" src="user-photo4.jpg" /></div>
                            <div class="media-body" style="overflow: visible;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p><a href="#">Brennan Prill:</a> This guy has been going 100+ MPH on side streets. <br /><small class="text-muted">August 6, 2016 @ 10:35am </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul><button class="btn btn-light" style="margin-left: 601px;margin-top: -9px;" type="button">Add Comment</button>
    </div>
</div>