<ul class="list-unstyled">
    <li class="mb-1 border-bottom py-md-2">
        <button aria-expanded="false"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-target="#orders-collapse" data-bs-toggle="collapse">
            Family
        </button>
        <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small btn-group-sm">
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1 btn-sm"
                   href="{% url 'account:register' %}">register child</a>
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1 btn-sm"
                   href="{% url 'account:late_list' %}">Immortalised</a>
            </ul>
        </div>
    </li>
    <li class="mb-1 border-bottom py-md-2">
        <button aria-expanded="false"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-target="#blog-collapse" data-bs-toggle="collapse">
            Blog
        </button>
        <div class="collapse" id="blog-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small btn-group-sm">
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1"
                   href="{% url 'account:blog:blog_list' %}">Public</a>
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1"
                   href="{% url 'account:blog:my_blog_list' %}">Personal</a>
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1"
                   href="{% url 'account:blog:blog_create' %}">Create</a>
            </ul>
        </div>
    </li>
    <li class="mb-1 border-bottom py-md-2">
        <button aria-expanded="false"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-target="#image-collapse" data-bs-toggle="collapse">
            Images
        </button>
        <div class="collapse" id="image-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small btn-group-sm">
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1"
                   href="{% url 'account:image:image_list' %}">Public</a>
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1"
                   href="{% url 'account:image:image_create' %}">Upload</a>
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1"
                   href="{% url 'account:image:my_image_list' %}">Personal</a>
            </ul>
        </div>
    </li>
    <li class="mb-1 border-bottom py-md-2">
        <button aria-expanded="false"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-target="#video-collapse" data-bs-toggle="collapse">
            Videos
        </button>
        <div class="collapse" id="video-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small btn-group-sm">
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1 btn-sm"
                   href="{% url 'account:video:video_list' %}">Public</a>
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1 btn-sm"
                   href="{% url 'account:video:video_create' %}">Upload</a>
                <a class="d-inline-flex rounded btn btn-dark text-white my-md-1 btn-sm"
                   href="{% url 'account:video:my_video_list' %}">Personal</a>
            </ul>
        </div>
    </li>
    <li class="mb-1 border-bottom py-md-2">
        <button aria-expanded="false"
                class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                data-bs-target="#account-collapse" data-bs-toggle="collapse">
            Account
        </button>
        <div class="collapse" id="account-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li>
                    <a class="d-inline-flex rounded btn btn-sm btn-outline-warning my-md-1"
                       href="{% url 'account:update' request.user %}">Settings</a>
                </li>
                <li><a class="d-inline-flex rounded btn btn-danger text-white my-md-1 btn-sm"
                       href="{% url 'logout' %}">Sign
                    out</a></li>
            </ul>
        </div>
    </li>
</ul>