<div class="visible-md">
    <div class="list-group list-group-flush border-bottom scrollarea">
        <h3 class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom fs-5 fw-semibold">
            Recent Posts</h3>
        {% for post in latest_posts %}
        <a class="list-group-item list-group-item-action py-3 lh-sm"
           href="{% url 'account:blog:blog_detail' post.slug %}">
            {{ post.headline }}</a>
        {% endfor %}
    </div>
</div>

<div class="visible-md">
    <div class="list-group list-group-flush border-bottom scrollarea">
        <h3 class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom fs-5 fw-semibold">
            Recent Videos</h3>
        {% for video in latest_videos %}
        <a class="list-group-item list-group-item-action py-3 lh-sm"
           href="{% url 'account:blog:blog_detail' post.slug %}">
            {{ video.description }}</a>
        {% endfor %}
    </div>
</div>