{% extends 'base.html' %}

{% block content %}
    <table>
        <tr>
            <td>Name of School</td>
            <td>Level</td>
            <td>Duration</td>
            <td>Year of Entrance</td>
            <td>Year of Graduation</td>
        </tr>
        {% for education in education_list %}

            <tr>
                <td><a href="{% url 'account:education_detail' pk=education.id %}"
                       height="20px">{{ education.name_of_school }}</a></td>
                <td>{{ education.school_level }}</td>
                <td>{{ education.duration }}</td>
                <td>{{ education.year_of_entrance }}</td>
                <td>{{ education.year_of_graduation }}</td>
            </tr>

        {% endfor %}
        <tr><a href="{% url 'account:new_education' %}">New educational institution</a></tr>
    </table>
{% endblock %}